
.SearchBarContainer {
  display: flex;
  align-items: center;
  margin-right: 150px; 
}

.SearchInput {
  width: 200px;
  padding: 9px;
  font-size: 17px;
  border-radius: 10px; 
}

.SearchButton {
  padding: 9px;
  font-size: 17px;
  cursor: pointer;
  border-radius: 9px; 
}
