.backgroundImageInicio {
  background-image: url('../src/assets/inicio.jpg');
  background-size: cover;
  background-position: center; 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



  
  .backgroundImageHome {
    background-image: url('../src/assets/Home.jpg');
      background-size: cover;
      background-attachment: fixed;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    

  
    .backgroundImageDetail {
      background-image: url('../src/assets/detalle.jpg');
        background-size: cover;
        background-attachment: fixed;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }


      .backgroundImageCreate {
        background-image: url('../src/assets/detalle.jpg');
          background-size: cover;
          background-attachment: fixed;
          height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;
        }
