.container {
    text-align:left; 
    position: absolute;
    top: 30%;
    left: 30%; 
    transform: translate(-50%, -50%);
    text-align: center;
    color: #83593b; 
}

.heading {
    font-size: 40px; 
    margin-bottom: 5px; 
}

.button {
    font-size: 30px; 
    padding: 10px 20px; 
    margin-left: 10px; 
}
